<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FirstTime" value="False" />
        <add key="Webhook" value="https://discord.com/api/webhooks/984437088592199720/7AsyEbb0yXcB5R99zqLKpNaL29eLLauXC2A_1hWzmWpkrl8a-9MsF5twJLm4elMj-0td" />
    </appSettings>
</configuration>
